/* Smart Phones And Tablets */
@media (max-width: 767px)
{	
    
  .header.shrink .navbar-nav li.active a:after{width: 100%;}
    
  .header .navbar-nav { float: none; background-color: #fff; }
    
	.header.shrink .navbar-nav li a,
	.header .navbar-nav li a { padding: 10px 10px; color: #222; }	
	
	.home .overlay .title span{font-size: 35px;}

	.home .overlay .title p{font-size: 15px;}		
	
	.features-style-2 img{margin-top: 0;}
	
	.why .back,
	.why .back-two{position: relative; height: 400px; width: 100%}
	
	.clients .item p{margin: 10px 12% 20px 12%;}

	iframe {
		width: 360px;
		height: 280px;;
	}

	.home {
		height: 155vh;
	}

	.home .overlay {
		height: 160vh;
	}

	.apresetacao {
		margin-top: 60px;
		margin-bottom: -150px;
	}

	.btn-response {
		margin-top: 65px;
		text-align: center;
		margin-right: 90px;
	}

	.btn-valores {
		text-align: center;
		margin-right: 90px;
	}

	.btn-valores .a-btn-red {
		font-size: 16px;
	}

	.image-clients {
		width: 180px;
		height: 100px;
	}


	.form-questions {
		height: 900px;
	}

	#msform fieldset {
		width: 300px;
		margin-left: -100px;
	}

	.message-danger {
		margin-left: 20%;
	}

	.pacote_ideal {
		margin-left: -100px;
		width: 300px;
		height: 380px;
	}

}

/* Small Screen */
@media (min-width: 768px) and (max-width: 991px)
{
 
	.header .navbar-nav li a{ padding: 33px 12px;}
	
	.features-style-2 img{margin-top: 0;}
}

/* Medium Screen */
@media (min-width:992px) and (max-width: 1199px)
{ 
		.help .box .item{min-height: 324px; padding: 30px}
}

/* Large Screen */
@media (min-width:1200px)
{
    
}

@media (min-width: 360px) and  (max-width: 640px){
	iframe {
		width: 320px;
		height: 260px;
	}

	.home {
		height: 180vh;
		
	}

	.home .overlay {
		height: 180vh;
	}

	.btn-response {
		margin-top: 180px;
		font-size: 14px;
		margin-left: -18px;
		width: 300px;
	}

	.img-features {
		width: 300px;
		height: 400px;
	}

	/*  Responsividade tabela.html  */

	.price-area .item .tabela-price .tempo1 {
		width: 120px;
		height: 20px;
		text-decoration: none;
		text-align: center;
		padding: 4px 7px;
		background-color: #f4951f;
		color: #fff;
		border-radius: 5px; 
		font-size: 14px;
	}

	.price-area .item .tabela-price .tempo2 {
		width: 120px;
		height: 20px;
		text-decoration: none;
		text-align: center;
		padding: 4px 19px;
		background-color: #f4951f;
		color: #fff;
		border-radius: 5px; 
		font-size: 14px;
	}

	.price-area .item .tabela-price .tempo3 {
		width: 120px;
		height: 20px;
		text-decoration: none;
		text-align: center;
		padding: 4px 15px;
		background-color: #f4951f;
		color: #fff;
		border-radius: 5px; 
		font-size: 14px;
	}

	.price-area .item .tabela-price s {
		font-size: 10px;
	}

	.price-area .item .tabela-price .tempo_1_strong {
		font-size: 14px;
		
	}

	.card-tabela .item .tabela-price .tempo1 {
		width: 120px;
		height: 20px;
		text-decoration: none;
		text-align: center;
		padding: 4px 7px;
		background-color: #f4951f;
		color: #fff;
		border-radius: 5px; 
		font-size: 14px;
	}

	.card-tabela .item .tabela-price .title-extented {
		margin-left: 28px;
	}

	.card-tabela .item .tabela-price .title-master {
		margin-left: 50px;
	}	


	.price-tabela .tabela-duvidas .centralizar-btn-tabela {
		background: #f4951f;
	display: block;
	margin-top: 30px;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    border: 0;
    position: relative;
	z-index: 1;
	overflow: hidden;
	 -webkit-transform: perspective(1px)translateZ(0px);
    		transform: perspective(1px)translateZ(0px);
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		
	}

	.form-questions {
		height: 900px;
	}

	#msform fieldset {
		width: 300px;
		margin-left: -100px;
	}

	.message-danger {
		margin-left: 20%;
	}

	.pacote_ideal {
		margin-left: -100px;
		width: 300px;
		height: 380px;
	}

	/* light.html  */

	.promo {
		height: 85px;
		margin-top: 95px;
		width: 100%;
	} 

	.description {
		width: 100%;
		height: 360px;
		background-color: #f4951f;
	}

	.description .tabela-fixed-respo {
		margin-top: 40px;
		position: none !important;
		width: 320px;
		height: 740px;
		background-color: #fff;
		margin-top: 70px;
		margin-left: -10px;
		border-radius: 10px;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}

	.description .tabela-fixed-respo iframe {
		margin-left: -7px;
		margin-top: 10px;
	}

	.description .price-fixed strong {
		font-size: 20px;
		margin-right: 20px;
	}

	.description .price-fixed .responsive-p {
		margin-left: 80px;
		margin-bottom: 20px;
	}

	.description .tabela-fixed-respo .tempo {
		margin-right: -20px;
		margin-left: 100px;
		margin-bottom: 10px;
	}
	
	.description .tabela-fixed-respo .tempo-all {
		margin-left: 115px;
		margin-bottom: 10px;
	}

	.description .price-fixed .price-btn {
		color: #fff;
		padding: 5px;
		background-color: #EC4A6F;
		font-size: 16px;
		border: #EC4A6F;
		border-radius: 3px;
		margin-top: 15px;
	}

	.detalhes {
		margin-top: 780px;
		height: 700px;
		display: block;
	}
	
	.detalhes .text-detalhes {
		width: 320px;
		margin-top: 20px;
		margin-left: -8px;
		height: 620px;
		background-color: #ccc;
	}
	
	.detalhes .text h3 {
		text-align: left;
	}

	.example-videos {
		margin-top: 40px;
		width: 360px;
		height: 1250px;
		background-color: #52266f
	}
	
	.example-videos .container {
		text-align: left;
		color: #fff;
	}

	.example-videos .container iframe {

	}
	
	.example-videos .container .example-1 {
		margin-left: -60px;
		margin-bottom: 40px;
	}
	
	.example-videos .container .example-1 h3{
		margin-left: 110px;
	}
	
	.example-videos .container .text-example {
		margin-left: 10px;
		margin-top: 20px;
	}

	.pacote-extra  {
		width: 100%;
		height: 1150px;
		background-color: #ccc;
		margin-top: 40px;
		margin-left: -5px;
		margin-bottom: 40px;
	}
	
	.pacote-extra h3 {
		text-align: center;
		margin-top: 20px;
	}
	
	.pacote-extra  .card-1 {
		width: 320px;
		height: 300px;
		margin-top: 30px;
		margin-left: -5px;
		background-color: #fff;
		border-radius: 4px;
		text-align: center;
	}
	
	.pacote-extra  .card-2 {
		width: 320px;
		height: 300px;
		margin-top: 60px;
		margin-left: -5px;
		background-color: #fff;
		border-radius: 4px;
		text-align: center;
	}

	.pacote-extra .card-title {
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	.pacote-extra .card-text-1 {
		font-size: 16px;
		color: #9E9E9E;
		margin-left: 20px;
		margin-top: 20px;
	}
	
	.pacote-extra .card-text-2 {
		font-size: 16px;
		color: #9E9E9E;
		margin-left: 20px;
	}
	
	.pacote-extra .fa-star, .fa-star-half-o {
		color: #F4C362;
		margin-left: 5px;
	}
	
	.pacote-extra .card-nota {
		color: #000;
		margin-left: 5px;
	}
	
	.pacote-extra s {
		color: red;
		font-size: 12px;
	}
	
	.pacote-extra .card-price {
		font-size: 22px;
		font-weight: bold;
		margin-left: 10px;
	}
	
	.pacote-extra .fa-plus {
		margin-top: 110px;
		margin-left: 5px;
	}
	
	.pacote-extra .card-compra {
		width: 300px;
		height: 100px;
		margin-top: 160px;
		margin-left: 15px;
		font-size: 18px;
	}
	
	
	.pacote-extra .card-compra .card-btn {
		margin-left: 70px;
		color: #fff;
		background: #EC4A6F;
		border: #EC4A6F;
		border-radius: 3px;
	}
	
}