/*---------------------------------------------------
   Main style stylesheet
   project:       Applandy - app landing page
   Version:       1.0
   Author:        Dragon-themes
   primary use:   marketing
-----------------------------------------------------*/

/*----------------------------------------------------
body
  +loading
  +header
  +home section
  +about section
  +features section
  +services section
  +why section
  +screenshots section
  +team section
  +review section
  +power section
  +video section
  +clients section
  +numbers section
  +download-section section
  +subscribe section
  +price-area section
  +download-app section
  +blog section
  +contact section
  +scroll to top button

------------------------------------------------------*/
*{
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

p{
	font-family: 'Hind', sans-serif;
	font-weight: 400;
}

 
 
a:focus,
a:hover{
    outline: none;
    text-decoration: none;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.heading{
    font-weight: 600;
    font-size: 28px;
    color: #333;
    text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;
}

.subtitle-features{
    font-weight: 600;
    font-size: 28px;
    color: #333;
    text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;
}

.subtitle-features:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 60px;
	background-color: #f4951f;
}

.heading span{
    color: #624de6;
	font-size: 18px;
	font-weight: 300;
}

.para{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #333;
    margin-bottom: 60px;
}

.a-btn-red,
.a-btn-blue{ 
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    border: 0;
    position: relative;
	z-index: 1;
	overflow: hidden;
	 -webkit-transform: perspective(1px)translateZ(0px);
    		transform: perspective(1px)translateZ(0px);
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
}

.a-btn-red:hover,
.a-btn-blue:hover{
	color: #fff;
}

.a-btn-red:before,
.a-btn-blue:before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
   -webbkit- transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    -webbkit-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: -1;
}

.a-btn-red,
.a-btn-blue:before{
	-webkit-background: #f3724e 100%;
	     	background: #f3724e;
}

.a-btn-blue,
.a-btn-red:before{
	-webkit-background: #52266f;
			background: #52266f;
}

.a-btn-red:hover:before,
.a-btn-blue:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*----------------------------------------------------
Start Section Loading
----------------------------------------------------*/
.loading-area {
    background:#222;
    color:#222;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#load {
    animation: spin 1.2s ease-in-out infinite;
    border: 1px solid transparent;
    border-top-color: #537d8b;
    border-radius: 100%;
    filter: drop-shadow(0 0 1px blue);
    height: 64px;
    width: 64px;
    margin: 0 auto;
    position: relative;
}

#load div {
    animation: spin 1s ease-in-out infinite;
    border: 1px solid transparent;
    border-radius: 100%;
    bottom: -1px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;   
}

#load div:first-child {
 	border-top-color: #a74040;
 	transform: rotate(120deg);
}

#load div:last-child {
	animation-duration: 2s;
	border-top-color: #40a744;
	transform: rotate(240deg);
}

@keyframes spin {
 0% {
 	transform: rotate(0deg);
 }
	
 50% {
 	box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.2);
 	opacity: .7;
 }
 100% {
 	transform: rotate(360deg);
 }
} 
/*----------------------------------------------------
End Section Loading
----------------------------------------------------*/

.index-home{
    height: 300px;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.index-home .overlay{
   background: linear-gradient(45deg, rgba(82, 38, 111, 0.8) 0%, rgba(163, 25, 91, 0.85) 100%);
    height: 300px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.index-home h2{
	font-size: 25px;
	color: #fff;
	font-weight: 300
}

.demos{
	padding: 70px 0;
	text-align: center;
}

.demos .single-demo{
	margin-bottom: 30px;
}

.demos .single-demo .image{
	box-shadow: 0 5px 30px -9px #aaa;
	margin-bottom: 30px;
	transition: all 0.6s ease-in-out;
}

.demos .single-demo .image:hover{
	box-shadow: 0 10px 30px -2px #888;
	transform: translateY(-5px)
}

.demos .single-demo h2{
	font-size: 25px;
}
/*----------------------------------------------------
Start Section header
----------------------------------------------------*/
.header { 
	width: 100%;
	height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    border-radius: 0; 
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    background-color: transparent;
} 

.navbar-brand{
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; 
} 

.header .navbar-brand .white{
	display: block;	
	width: 130px; 
	height: 60px;
}

.header .navbar-brand .blue{
	display: none;
	width: 130px; 
	height: 60px;
}

.header.shrink .navbar-brand .white{
	display: none;
}

.header.shrink .navbar-brand .blue{
	display: block;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.header .navbar-nav { 
	margin: 0;
    float: right;
} 

.header .navbar-nav li a {
    color: #fff;
    font-size: 12px;
	font-weight: 600;
    padding: 40px 15px;
    font-family: 'Montserrat', sans-serif;
}


.header.shrink .navbar-nav li a {
	color: #fff;
}

.header .navbar-nav li a:hover,
.header .navbar-nav li a:focus{
	background: none;
} 

.header .navbar-toggle { 
    margin-top: 20px;
    padding: 10px;
}

.header .navbar-toggle .icon-bar {
    background: #fff;
    height: 3px; 
}

.header ul.socail{
	list-style: none;
	position: absolute;
	top: 30px;
	right: 15px;
}

.header ul.socail li{
	display: inline-block;
}
 
.header.shrink {
    position: fixed;
	top: 0;
    background: #fff;
    box-shadow: 0 10px 25px -15px #999;
} 

.header.shrink .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
}

.header.shrink .navbar-nav li a {
    padding-top: 35px;
    padding-bottom: 23px;
    color: #333;
}

.header.shrink .navbar-nav li.active a{
	color: #ff4444;
}

.header.shrink .navbar-toggle { 
    margin-top: 10px;
    padding: 10px;
}

.header.shrink .navbar-toggle .icon-bar {
    background: #555;
    height: 3px; 
}
/*----------------------------------------------------
end Section header
----------------------------------------------------*/

/*----------------------------------------------------
start section home
----------------------------------------------------*/
.home{
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.home .overlay{
	background: #f4951f;
    height: 100vh; 
}

.home .overlay .row{
	height: 100vh;
}

.home .overlay .mds {
	margin-left: 52px;
	background-color: #fff;
	width: 450px;
}

.home .overlay .title{
	height: 65vh;
	margin-top: 150px;
}

.home .overlay .title span{
	color: #fff;
	text-align: center;
    font-size: 45px;
	font-weight: 400;
	display: block;
	margin-bottom: 0px;
	margin-top: 0;
	line-height: 1.25;
	font-family: 'Fira Sans', sans-serif;
}

.home .overlay .title p{
	line-height: 1.6em;
	text-align: center;
    color: #fff;
    font-size: 17px;
	margin-bottom: 0;
}

.home .overlay .centralizar-btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    border: 0;
    position: relative;
	z-index: 1;
	overflow: hidden;
	 -webkit-transform: perspective(1px)translateZ(0px);
    		transform: perspective(1px)translateZ(0px);
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
	background-color: #52266f;
	margin-left: 40%;
}



/*** start home-video for video page ***/
.home-video{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
	background-image: none;
}

.home-video .overlay{
   -webkit-background: linear-gradient(45deg, rgba(82, 38, 111, 0.8) 0%, rgba(163, 25, 91, 0.85) 100%);
   background: linear-gradient(45deg, rgba(82, 38, 111, 0.8) 0%, rgba(163, 25, 91, 0.85) 100%);
    height: 100vh; 
}
 
.home-video .video-background{
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -100
}

/*** start home-particles for particles page ***/
.home-particles{
	position: relative;
	-webkit-clip-path: none;
    clip-path: none;
}

.home-particles .row{
	position: absolute;
	top: 0;
}

/*** start home-pattern for pattern page ***/
.home .home-pattern{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.home .home-pattern.pattern-1{
	background-image: url(../images/Pattern-1.png);
}

.home .home-pattern.pattern-2{
	background-image: url(../images/Pattern-2.png);
}

.home .home-pattern.pattern-3{
	background-image: url(../images/Pattern-3.png);
}

.home .home-pattern.pattern-4{
	background-image: url(../images/Pattern-4.png);
}

/***** start home-clip for creative-demo *****/
.home-clip{
    background-color: #f7f7f7;
}

.home-clip .clip-1{
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-clip-path:polygon(50% 0, 100% 0, 100% 90%, 73% 100%, 0 90%, 0 0);
			clip-path:polygon(50% 0, 100% 0, 100% 90%, 73% 100%, 0 90%, 0 0);
}

.home-clip .clip-2{
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/k-57-music.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-clip-path:polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
			clip-path:polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}

.home-clip .overlay{
	background:rgba(82, 38, 111);
	height: 100vh; 
}

.home-clip .overlay .row{
	height: 100vh;
}
.home-clip .overlay .title{
	height: 100vh;
	margin-top: 200px;
}

.home-clip .overlay .title span{
	color: #fff;
    font-size: 45px;
	font-weight: 400;
	display: block;
	margin-bottom: 0px;
	margin-top: 0;
	line-height: 1.25;
	font-family: 'Fira Sans', sans-serif;
}

.home-clip .overlay .title p{
    line-height: 1.6em;
    color: #e3e3e3;
    font-size: 17px;
	margin-bottom: 0;
}

/*----------------------------------------------------
end section home 
----------------------------------------------------*/


/*----------------------------------------------------
start about Section
----------------------------------------------------*/
.about{
	padding: 70px 0;
}

.about .image img{
    width:250px;
}

.about .words h2{
	font-size: 40px;
	font-weight: 500;
	line-height: 1.25em;
	margin-right: 10%;
	margin-bottom: 20px;
	color: #333;
}

.about .words p{
	font-size: 16px;
	line-height: 26px;
	color: #555;
}

.about .words p:last-of-type{
	margin-bottom: 20px;
}

.about .words .fa{
	font-size: 50px;
	color: #ccc;
	margin-right: 15px;
}

.about .words .fa:hover{
	color: #ff4444;
}
/*----------------------------------------------------
end about Section
----------------------------------------------------*/

/*----------------------------------------------------
start features section 
----------------------------------------------------*/
.features{
	background-image: url(../images/karl-fredrickson-34579.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.features .overlay{
	-webkit-background:rgba(82, 38, 111);
	background:rgba(82, 38, 111) ;
	padding: 70px 0;
}

.features .heading {
	color: #fff;
}

.features .subtitle-features {
	color: #fff;
}

.features .para{
	color: #eee
}

.features ul .single-feature{
	padding-top: 35px;
}

.features ul .single-feature .fa{
	clear: both;
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    width: 70px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.6);
	cursor: pointer;
	position: relative;
}

.features ul .single-feature .fa:after{
	content: '';
	position: absolute;
	left: 2.5%;
	top: 2.5%;
	width: 105%;
	height: 105%;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 50%;
	transition: all 0.6s ease-in-out;
}

.features ul .single-feature .fa:hover:after{
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

.features ul .single-feature .fa:hover{
	background-color: #fff;
	color: #E7276F;
}

.features .left ul .single-feature .fa{
	float: right;
	margin-left: 20px;
}

.img-features {
	width: 380px; 
	height: 450px;
}

.white-popup {
	position: relative;
	padding: 20px;
	width:auto;
	max-width: 620px;
	margin: 20px auto;
	border: none !important;	
}

.features .right ul .single-feature .fa{
	float: left;
	margin-right: 20px;
}

.features ul .single-feature .item{
	display: block;
	overflow: hidden
}

.features .left ul .single-feature .item{
	text-align: right;
}

.features .right ul .single-feature .item{
	text-align: left;
}

.features ul .single-feature .item h2{
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	margin-top: 10px;
}

.features ul .single-feature .item p{
	color: #ddd;
	font-size: 16px;
    line-height: 24px;
}
/*----------------------------------------------------
end features section 
----------------------------------------------------*/

/*----------------------------------------------------
start services Section
----------------------------------------------------*/
.services{
	padding: 70px 0;
	background-color: #f7f7f7;
}

.services .item{
	margin-bottom: 30px;
	text-align: center;
}

.services .item .icon{
	display: inline-block;
	font-size: 45px;
	color: #52266f;
}

.services .item h2{
	font-size: 26px;
	font-weight: 600;
	margin-top: 10px;
}

.services .item p{
	font-weight: 500;
	color: #555;
	font-size: 16px;
	line-height: 24px;
	margin: 0 10%;
}
/*----------------------------------------------------
end services Section
----------------------------------------------------*/

/*----------------------------------------------------
Start why Section
----------------------------------------------------*/
.why{
	position: relative;
}

.why .back{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-image: url(../images/pexels-photo-756439.jpeg);
	background-blend-mode: overlay;
	background-color: rgba(17, 4, 96, 0.5);
	background-size: cover;
	background-position: center;
	height: 100%;
}

.why .back .inner{
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(255,255,255,0.5);
}

.why .back h2{
	color: #fff;
}

.why .item p{
	line-height: 26px;
	font-size: 16px;
	font-weight: 400;
}

.why .item{
	padding: 50px;
}

.why .item .fa{
	font-size: 16px;
}


.why .back-two{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-image: url(../images/businessman-using-smartphone-at-outdoor-of-the-office-building_1356-223.jpg);
	background-blend-mode: overlay;
	background-color: rgba(17, 4, 96, 0.5);
	background-size: cover;
	background-position: center;
	height: 100%;
}

.why .back-two .inner{
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(255,255,255,0.5);
}

.why .back-two h2{
	color: #fff;
}

.why .fa{
	    background: linear-gradient(45deg, #624de6 0%, #9620e6 100%);
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 27px;
    color: #fff;
    border-radius: 50%;
}

.why p.checked{
	font-weight: 600;
	color: #444;
}
/*----------------------------------------------------
end why Section
----------------------------------------------------*/

/*----------------------------------------------------
Start screenshots Section
----------------------------------------------------*/
.screenshots{
	background-image: url(../images/pexels-photo-774920.jpeg);
	background-attachment: fixed;
	background-size: cover;
}

.screenshots .overlay{
/*	-webkit-background: linear-gradient(45deg, rgba(82, 38, 111, 0.8) 0%, rgba(163, 25, 91, 0.85) 100%);
	background: linear-gradient(45deg, rgba(82, 38, 111, 0.8) 0%, rgba(231, 39, 111, 0.85) 100%);*/
	padding: 70px 0;
}

.screenshots .heading{
	color: #000;
}

.screenshots .para{
	color: #000;
}

.screenshots img{
	border-radius: 15px;
}
/*----------------------------------------------------
end screenshots Section
----------------------------------------------------*/

/*----------------------------------------------------
Start Section team
----------------------------------------------------*/
.team{
	padding: 70px 0;
    text-align: center;
	background-color: #f7f7f7;
}

.team .item{
    margin: 0 20px;
    padding-bottom: 50px;
}

.team .item .image{
	height: 250px;
	width: 250px;
	margin: auto;
	overflow: hidden;
	border-radius: 50%;
}

.team .item .image img{
	margin: auto;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
	height: 250px;
	width: 250px;
	border-radius: 50%;	 
}

.team .item:hover .image img{
    transform: scale(1.05);
}

.team .item .image{    
	position: relative;
	margin: auto;
	overflow: hidden;
} 

.team .item .social .fa{
    display: inline-block;
    font-size: 14px;
	margin: 0 2px;
	height: 30px;
	width: 30px;
	line-height: 30px;
    color: #fff;
	background-color: #333;
    border-radius: 50%;
	border: 1px solid transparent;
	-webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
         -o-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
}

.team .item .social a .fa-facebook{
	background-color: #4867aa;
}

.team .item .social a .fa-facebook:hover{
	border-color: #4867aa;
	color: #4867aa;
}

.team .item .social a .fa-twitter{
	background-color: #1da1f2;
}

.team .item .social a .fa-twitter:hover{
	border-color: #1da1f2;
	color: #1da1f2;
}

.team .item .social a .fa-google-plus{
	background-color: #dc4a38;
}

.team .item .social a .fa-google-plus:hover{
	border-color: #dc4a38;
	color: #dc4a38;
}

.team .item .social a .fa-rss{
	background-color: #ec8232;
}

.team .item .social a .fa-rss:hover{
	border-color: #ec8232;
	color: #ec8232;
}

.team .item .social a .fa:hover{
	background-color: transparent;
}

.team .item h5{
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

.team .item span{
    color: #888;
    font-weight: 300;
    font-size: 16px;
    display: block;
	margin-bottom: 20px;
	position: relative;
}

.team .item span:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	height: 2px;
	width: 60px;
	background-color: #624de6;
}

.team .item p{
    color: #555;
    font-size: 15px;
    line-height: 22px;
}
/*----------------------------------------------------
end Section team
----------------------------------------------------*/

/*----------------------------------------------------
start review Section
----------------------------------------------------*/
.review{
 	background-image: url(../images/k-170-chim-1613.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	text-align: center
}

.review .heading{
	color: #fff;
}

.review .heading-clients {
	text-align: left;
	color: #fff;
	margin-top: 40px;
	margin-left: 20px;
}

.review .para{
	color: #ddd;
}

.review .para-clients {
	text-align: left;
	color: #ddd;
	margin-left: 20px;
}

.review .overlay{
	padding: 70px 0;
	background:rgba(82, 38, 111);
}

.review .overlay .img-clients {
	height: 100px;
	background-color: #000;
}


.review .item .image .video-box:hover{
	background: linear-gradient(60deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.75) 100%);
}

.review .overlay .video-clients {
	margin-top: 40px;
}

.review .overlay .image-clients {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.review .overlay .fa:hover{
	background: linear-gradient(60deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.75) 100%);
}

.review .item .fa{
	position: relative;
	display: inline-block;
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
	padding-left: 5px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin-top: 5px;
}

.review .item h2{
	font-size: 22px;
	color: #fff;
	margin-bottom: 0px;
}

.review .item span{
	font-size: 16px;
	color: #ddd;
	display: block;
	margin-bottom: 10px;
}

.review .img-garantia {
	margin-left: -100px;
	margin-bottom: -130px;
	width:1360px; 
	height:380px
}

/*----------------------------------------------------
end review Section
----------------------------------------------------*/

/*----------------------------------------------------
start power Section
----------------------------------------------------*/
.first-power{
	padding-top: 70px;
	padding-bottom: 0;
}
.second-power{
	padding: 70px 0;
}

.power .item{
	margin-bottom: 30px;
}

.power .item img{
	margin: auto;
}

.power .item img.first-image{
	margin-top: 70px;
}

.power .item img.second-image{
	margin-top: 20px;
}
 
.power .item h2{
	font-size: 35px;
	font-weight: 600;
	margin-top: 120px;
}

.power .item p{
	font-size: 18px;
	line-height: 28px;
	color: #555;
}
/*----------------------------------------------------
end power Section
----------------------------------------------------*/

/*----------------------------------------------------
start video Section
----------------------------------------------------*/
.video{
	background-image: url(../images/pexels-photo-175697.jpeg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.video .overlay{
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(215, 21, 167, 0.75) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(215, 21, 167, 0.75) 100%);
	padding: 70px 0;
}

.video h2{
	color: #fff;
	font-size: 35px;
}

.video p{
	color: #f5f5f5;
	margin: 0 20% 20px 20%;
}

.video a{
	font-size: 25px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	padding-left: 5px;
	display: inline-block;
	color: #333;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid transparent;
}

.video a:hover{
	border-color: rgba(255,255,255,0.6);
	background-color: transparent;
	color: #fff;
}
/*----------------------------------------------------
end video Section
----------------------------------------------------*/

/*----------------------------------------------------
start clients Section
----------------------------------------------------*/
.clients{
	padding: 70px 0;
    background-color: #f7f7f7;
	text-align: center;
}

.clients .item p .icon{
	color: #888;
	font-size: 40px;
	margin-bottom: 10px;
	display: block;
}

.clients .item .star .fa{
	display: inline-block;
	color: goldenrod;
	font-size: 14px;
}

.clients .item img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: auto;
}

.clients .item p{
	color: #444;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	margin: 10px 26% 20px 26%;
	font-style: italic;
}

.clients .item h4{
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 22px;
}

.clients .item span{
	color: #666;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
	
}
/*----------------------------------------------------
end clients Section
----------------------------------------------------*/

/*----------------------------------------------------
start numbers section 
----------------------------------------------------*/
.numbers{
    background-image: url(../images/kari-shea-107390.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;
}

.numbers .overlay{
	padding: 70px 0;
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
}

.numbers .item{
    margin-bottom: 30px;
}

.numbers .item .icon{
	font-size: 55px;
	color: #fff
}

.numbers .item h1{
    color: #fff;
    font-weight: 800;
    font-size: 45px;
	margin-top: 10px;
	margin-bottom: 0;
}

.numbers .item p{
    color: #fff;
	opacity: 0.85;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 400;
}
/*----------------------------------------------------
end numbers section 
----------------------------------------------------*/

/*----------------------------------------------------
Start our-faqs Section
----------------------------------------------------*/
.our-faqs{
	padding: 70px 0;
}

.our-faqs .image{
	margin-bottom: 30px;
}

.our-faqs h3{
	font-size: 22px;
	font-weight: 600;
	padding: 10px 20px;
	background-color: #624de6;
	color: #fff;
	cursor: pointer;
}

.our-faqs h3.colored{
	background-color: #f55
}

.our-faqs .questions p{
    display: none;
    margin-top: 10px;
    color: #555;
    line-height: 24px;
    font-size: 15px;
	font-weight: 400;
    padding: 10px;
	box-shadow: 0 1px 30px -2px #d3d3d3;
}
/*----------------------------------------------------
end our-faqs Section
----------------------------------------------------*/

/*----------------------------------------------------
start subscribe Section
----------------------------------------------------*/
.subscribe{
	background-image: url(../images/k-170-chim-1613.jpg);
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	text-align: center;
}

.subscribe .overlay{
	padding: 70px 0;
	-webkit-background:linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(32, 208, 232, 0.85) 100%);
	background:linear-gradient(45deg, rgba(98, 77, 230, 0.8) 0%, rgba(32, 208, 232, 0.85) 100%);
}

.subscribe h2{
	font-size: 33px;
	color: #fff
}

.subscribe p{
	font-size: 16px;
	margin: 0 15%;
	color: #ddd;
	margin-bottom: 30px;
}

.subscribe .form-group{
	position: relative;
	overflow: hidden;
	border-radius: 50px;
}

.subscribe input{
	background-color: #fff;
	border-radius: 50px;
	border: none;
	height: 40px;
	padding: 10px 20px;
	width: 100%;
	font-weight: 400;
}

.subscribe button{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	margin-top: 0;
	margin-right: 0;
	border-radius: 50px;
	padding: 10px 40px;
	font-weight: 500;
}
/*----------------------------------------------------
end subscribe Section
----------------------------------------------------*/

/*----------------------------------------------------
Start price-area Section
----------------------------------------------------*/
.price-area{
	padding: 70px 0;
	background-color: #f7f7f7;
}

.price-area .item {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: left;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}

.price-area .item .item-inner{
	padding-left: 30px;
}

.price-area .item .price-box{
	margin-bottom: 30px;
	padding-top: 30px;
}

.price-area .item .price-box h2{
	font-size:40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.price-area .item .price-box span{
	font-size: 30px;
	font-weight: 300;
}

.price-area .item .price-box span strong{
	font-weight: 500;
}

.price-area .item .price-box p{
	margin: 10px 12% 10px 0;
	line-height: 24px;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 0;
	border-bottom: none;
}

.price-area .item p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 10px;
}

.price-area .item p:last-of-type{
	border-bottom: none;
}

.price-area .item p span{
	color: #fff;
    padding: 0px 3px;
    border-radius: 5px;
    display: inline-block;
    background-color: #ff4444;
    margin-left: 6px;
    font-size: 13px;
    font-weight: 400;
}

.price-area .item p .fa-check{
	background-color: #624de6;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
}

.price-area .item p .fa-close{
	background-color: #aaa;
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
}

.price-area .item .a-btn-blue{
	display: block;
	margin-top: 30px;
	border-radius: 0;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.price-area .centralizar-btn {
	padding: 15px;
	font-size: 20px;
	margin-left: 37%;
}
/*----------------------------------------------------
end price-area Section
----------------------------------------------------*/

/*----------------------------------------------------
start download-app Section
----------------------------------------------------*/
.download-app{
	background-image: url(../images/kari-shea-107390.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	text-align: center;
}

.download-app .overlay{
	-webkit-background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
	background: linear-gradient(45deg, rgba(98, 77, 230, 0.75) 0%, rgba(164, 30, 212, 0.8) 100%);
	padding: 70px 0;
}

.download-app .heading{
	color: #fff;
}

.download-app .para{
	color: #eee
}

.download-app .a-btn{
	position: relative;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 20px;
	padding-left:55px;
	border-radius: 80px;
	-webkit-background: linear-gradient(45deg, #ff4444 0%, #f3724e 100%);
	     	background: linear-gradient(45deg, #ff4444 0%, #f3724e 100%);
	color: #fff;
	transition: transform 0.4s ease-in-out;
}

.download-app .a-btn:hover{
	transform: translateY(-5px);
	background: #624de6;
	color: #fff
}

.download-app .a-btn .fa{
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px;
	display: inline-block;
	font-size: 35px;
}

.download-app .a-btn strong{
	letter-spacing: 0.5px;
	font-weight: 700
}
/*----------------------------------------------------
end download-app Section
----------------------------------------------------*/

/*----------------------------------------------------
Start blog Section
----------------------------------------------------*/
.blog{
	padding: 70px 0;
}

.blog .item{
	margin-bottom: 30px;
	box-shadow: 0 5px 30px -6px #ccc;
	padding-bottom: 20px;
}

.blog .item .image{
	position: relative;
}

.blog .item .image .overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(17, 4, 96, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.blog .item .image:hover .overlay{
	opacity: 1
}

.blog .item .image .overlay .fa{
	color: #fff;
	font-size: 30px;
}

.blog .item h2{
	font-size: 25px;
	margin: 10px 0;
	padding: 0 20px;
	color: #333;
}

.blog .item h2:hover{
	color: #624de6;
}

.blog .item p{
	font-size: 16px;
	line-height: 24px;
	color: #555;
	padding: 0 20px;
}

.blog .item p .fa{
	color: #aaa;
}

.blog .item p:first-of-type{
	margin: 10px 0;
	color: #555
}

.blog .item p .fa-comments,
.blog .item p .fa-heart-o{
	display: inline-block;
	margin-left: 10px;
}

.blog .item .a-btn-blue{
	margin-top: 10px;
	margin-left: 20px;
	
}
/*----------------------------------------------------
end blog Section
----------------------------------------------------*/

/*----------------------------------------------------
start contact-me Section
----------------------------------------------------*/
.contact {
	padding: 70px 0;
    text-align: center;
    background-color: #f7f7f7;
}

.contact-form {
    border-radius: 3px;
}

.form-group{
    margin-bottom: 0;
}

.form-group .help-block{
	color: #ff4444;
}

.has-error .form-control,
.has-error .form-control:focus{
	border: 1px solid rgba(98, 77, 230, 0.6);
	box-shadow: none;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-indent: 20px;
    background-color: rgba(255,255,255,0.95);
    background-image: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: none;
    margin-bottom: 30px;
    font-weight: 500;
	border-radius: 20px;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 2px solid #222;
}

.contact-form .a-btn-red{
	border-radius: 50px;
	box-shadow: 0 12px 30px -5px #888;
	transition: all 0.6s ease-in-out;
}

.contact-form .a-btn-red:hover{
	box-shadow: 0 5px 30px -9px #888;
}

.contact-form .a-btn-red .a-btn-overlay{
	background: none;
}
/*----------------------------------------------------
end contact-me Section
----------------------------------------------------*/

#map{
	height: 600px;
	width: 100%;
}
/*----------------------------------------------------
start social-icon-div
----------------------------------------------------*/
 .social-icon-div{
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.social-icon-div img {
	width: 150px;
	height: 80px;
}

.social-icon-div h2{
	font-size: 35px;
	font-weight: 600;
	color: #fff;
}

 .social-icon-div a{
	display: inline-block;
    margin-top: 20px;
    color: #bbb;
    margin-right: 10px;
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
	background-color: #111;
    margin-bottom: 30px;
	border-radius: 50%;
}

.social-icon-div a:hover{
	background-color: #624de6;
	color: #fff;
}

.social-icon-div a .fa{
	transition: all 0.6s ease
}

.social-icon-div p{
    color: #eee;
    font-weight: 400;
}
/*----------------------------------------------------
end social-icon-div
----------------------------------------------------*/

/*----------------------------------------------------
start scroll-top div
----------------------------------------------------*/
#scroll-top {
    width:50px;
    height:50px;
    color:#fff;
    background-color:#624de6;
    text-align:center;
    position:fixed;
    right:15px;
    bottom:10px;
    z-index:9999;
    display: none;
    cursor:pointer;
    padding: 10px;
	border-radius: 50%;
	box-shadow: 0 5px 25px -6px #aaa;
}

#scroll-top:hover {
    opacity: 0.7;
}

#scroll-top i{
    line-height: 26px;
	font-size: 20px;
}
/*----------------------------------------------------
end scroll-top div
----------------------------------------------------*/


/*---------------------------------------------------
	Start tabela.html 
---------------------------------------------------*/

.tabela {
	background-color: #52266f;
	height: 100px;
}

.price-tabela {
	padding-top: 150px;
}

.price-tabela .container-1 {
	margin-right: 40px;
	margin-left: 40px;
}

.price-area .item .tabela-price p{
	margin: 10px 12% 10px 0;
	margin-bottom: 20px;
	line-height: 24px;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 0;
	border-bottom: none;
} 

.price-area .item .tabela-price .tempo1 {
	width: 120px;
	height: 20px;
	text-decoration: none;
	text-align: center;
	padding: 4px 7px;
	background-color: #f4951f;
	color: #fff;
	border-radius: 5px; 
}

.price-area .item .tabela-price .tempo2 {
	width: 120px;
	height: 20px;
	text-decoration: none;
	text-align: center;
	padding: 4px 23px;
	background-color: #f4951f;
	color: #fff;
	border-radius: 5px;
}

.price-area .item .tabela-price .tempo3 {
	width: 120px;
	height: 20px;
	text-decoration: none;
	text-align: center;
	padding: 4px 18px;
	background-color: #f4951f;
	color: #fff;
	border-radius: 5px;
}


.price-area .item .tabela-price s{
	font-size: 14px;
	color: red;
}

.price-area .item .tabela-price h2 {
	margin-left: 30%;
	padding-bottom: 30px;
}

.price-area .item .tabela-price strong {
	margin-top: 20px;
	font-size: 25px;
}

.price-area .item .detalhes-tabela {
	font-size: 12px;
}

.price-area .item .tabela-price .tabela-master {
	font-size: 24px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 86px;
}

.a-btn-tabela { 
	background: #52266f;
	display: block;
	margin-top: 30px;
	border-radius: 0;
	padding: 15px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    border: 0;
    position: relative;
	z-index: 1;
	overflow: hidden;
	 -webkit-transform: perspective(1px)translateZ(0px);
    		transform: perspective(1px)translateZ(0px);
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
}

.a-btn-tabela:hover{
	color: #fff;
}

.a-btn-tabela:before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
   -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    -webkit-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: -1;
}

.a-btn-tabela:before{
	-webkit-background:	#00BD69 100%;
	     	background: #00BD69;
}

.a-btn-tabela:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.a-btn-red-tabela {
	-webkit-background:	#f3724e 100%;
			background: #f3724e;
			color: #fff;
			border-radius: 4px;
			text-decoration: none;
}

.a-btn-red-tabela:hover {
	color: #fff;
}

.price-tabela .tabela-duvidas .centralizar-btn-tabela {
	padding: 15px;
	font-size: 20px;
}

.price-tabela .tabela-duvidas {
	max-width: 100%;
	padding: 100px;
	margin-bottom: -45px;
	background-color: #52266f;
}

.a-btn-green-tabela {
	-webkit-background:	#00BD69 100%;
			background: #00BD69;
			color: #fff;
			border-radius: 4px;
			text-decoration: none;
			padding: 12px;
			
}

.a-btn-green-tabela:hover {
	color: #fff;
}


/******************************

	Section Review Tabela de tabela.html

******************************/

.review .review-tabela {
	background-color: #E9E9E9;
	margin-top: -50px;
}

.review .review-tabela .heading {
	color: #000;
}

.review .review-tabela .para {
	color: #000;
}

.review .review-tabela .heading-clients {
	color: #000;
}

.review .review-tabela .para-clients {
	color: #000;
}


/*****************************

	End Section tabela.html

*****************************/

/****************************

	Section light.html; extendend.html e master.html

****************************/

/********* Light **********/

.light {
	background-color: #52266f;
	padding-bottom: 15vh;
}

.promo {
	margin-top: 100px;
	height: 60px;
	width: 100%;
	padding: 4px;
	background-color: #FF7F50;
}

.promo p {
	color: #fff;
	font-size: 18px;
	padding: 20px;
}

.description {
	width: 100%;
	height: 280px;
	background-color: #f4951f;
}

.description .title {
	font-size: 18px;
	padding: 20px;
}

.description .sub-title {
	font-size: 15px;
	color: #fff;
	padding: 15px;
}

.description .tabela-fixed {
	margin-top: 40px;
	width: 380px;
	height: 480px;
	background-color: #fff;
	margin-top: 20px;
	margin-left: 100px;
	border-radius: 10px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.description .tabela-fixed iframe {
	margin-left: 10px;
	margin-top: 10px;
}

.description .tabela-fixed .blockquote {
	width: 150px;
	height: 2px;
	margin-left: 26%;
	margin-bottom: 10px;
	background-color: #EC4A6F; 
}

.description .tabela-fixed .border {
	border-radius: 10px;
}

.description .price-fixed {
	margin-top: 10px;
	margin-left: 15px;
}

.description .price-fixed p {
	margin-left: 10px;
}

.description .price-fixed .tempo {
	margin-left: 210px;
	font-weight: bold;
	color: #000;
	font-size: 18px;
	margin-bottom: -5px;
}

.description .price-fixed strong {
	font-size: 24px;	
	margin-left: 1px;
	margin-right: 5px;
	color: #000;
}

.description .price-fixed .s {
	margin-left: 3px;
	font-size: 14px;
	color: red;
}

.description .price-fixed .desconto {
	color: #7F7F7F;
	font-size: 14px;
	margin-left: 30%;
	margin-bottom: -3px;
}

.description .price-fixed .price-btn,
.description .price-fixed .price-btn-1 {
	color: #fff;
	padding: 5px;
	background-color: #EC4A6F;
	border: #EC4A6F;
	border-radius: 3px;
	margin-left: 10px;
}

.detalhes {
	width: 100%;
	height: 420px;
}

.detalhes .text-detalhes {
	margin-top: 20px;
	width: 600px;
	height: 380px;
	background-color: #ccc;
	border-radius: 4px;
}

.detalhes .text {
	padding: 10px;
	margin-left: 10px;
}

.detalhes .text p {
	padding: 10px;
}

.detalhes .text h3 {
	text-align: center;
}

.requisitos {
	margin-right: 10px;
}

.text-requisitos {
	text-align: left;
}

.example-videos {
	margin-top: 40px;
	width: 53%;
	height: 1200px;
	background-color: #52266f;
}

.example-videos .container {
	margin-left: 60px;
	color: #fff;
}

.example-videos .container .example-1 {
	margin-left: 60px;
	margin-bottom: 40px;
}

.example-videos .container .example-1 h3{
	margin-left: 180px;
}

.example-videos .container .text-example {
	margin-left: 10px;
	margin-top: 20px;
}

.pacote-extra  {
	width: 680px;
	height: 500px;
	background-color: #ccc;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
}

.pacote-extra h3 {
	font-size: 22px;
}

.pacote-extra  .card-1 {
	width: 240px;
	height: 300px;
	margin-top: 30px;
	margin-left: 40px;
	background-color: #fff;
	border-radius: 4px;
}

.pacote-extra .card-plus {
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-top: 60px;
	
}

.pacote-extra  .card-2 {
	width: 240px;
	height: 300px;
	margin-top: 30px;
	margin-left: 5px;
	background-color: #fff;
	border-radius: 4px;
}

.pacote-extra  .card-1 iframe,
.pacote-extra  .card-2 iframe {
	margin-left: -15px;
} 

.pacote-extra .card-title {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 30px;
}

.pacote-extra .card-text-1 {
	font-size: 16px;
	color: #9E9E9E;
	margin-left: 45px;
}

.pacote-extra .card-text-2 {
	font-size: 16px;
	color: #9E9E9E;
	margin-left: 50px;
}

.pacote-extra .fa-star, .fa-star-half-o {
	color: #F4C362;
	margin-left: 5px;
}

.pacote-extra .card-nota {
	color: #000;
	margin-left: 5px;
}

.pacote-extra s {
	color: red;
	font-size: 12px;
}

.pacote-extra .card-price {
	font-size: 22px;
	font-weight: bold;
	margin-left: 10px;
}

.pacote-extra .fa-plus {
	margin-top: 110px;
	margin-left: 5px;
}

.pacote-extra .card-compra {
	width: 300px;
	height: 100px;
	margin-top: 360px;
	margin-left: 150px;
	font-size: 18px;
}


.pacote-extra .card-compra .card-btn {
	margin-left: 70px;
	color: #fff;
	background: #EC4A6F;
	border: #EC4A6F;
	border-radius: 3px;
}


/**************************

	master.html

**************************/

.description .tabela-fixed-master {
	width: 380px;
	height: 400px;
	background-color: #fff;
	margin-top: 20px;
	margin-left: 100px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.description .tabela-fixed-master iframe {
	margin-left: 10px;
	margin-top: 10px;
}

.description .tabela-fixed .tempo {
	margin-left: 218px;
}

.description .tabela-fixed .tempo-all {
	margin-left: 235px;
	font-size: 18px;
	margin-bottom: -5px;
	font-weight: bold;
	color: #000;
}

.description .price-fixed .price-btn-master {
	color: #fff;
	padding: 5px;
	background-color: #EC4A6F;
	border: #EC4A6F;
	border-radius: 3px;
	margin-top: 40px;
	margin-left: 80px;
}


/*****************************

	como_funciona.html

****************************/


.comoFunciona .heading {
	margin-top: 60px;
}

.videoToggle {
	margin-top: 20px;
}

/***************************

	form_questions.html

***************************/


.topo {
	width: 100%;
	height: 480px;
	background-color: #52266f;
}

.topo .fa {
	color: #fff;
	margin-top: 150px;
}

.topo h2, .topo p {
	color: #fff;
}

.topo .a-btn-form .fa {
	margin-top: 0px;
	margin-left: 5px;
}

.topo .a-btn-form {
	display: inline-block;
	background-color: #FF7F50;
	padding: 10px 20px;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    border: 0;
    position: relative;
	z-index: 1;
	overflow: hidden;
}


.form-questions{
	width: 100%;
	height: 620px;
}

.form-questions .question-1 {
	margin-top: 60px;
}

.box-questions {
	margin-left: 100px;
}

/*form styles*/
#msform {
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform p {
	text-align: left;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #52266f;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #52266f;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*pacote_ideal*/

.pacote_ideal {
	height: 250px;
	margin-left: 80px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.pacote_ideal h2{
	font-size: 28px;
	color: #52266f;
	margin-top: 40px;
}

.pacote_ideal .fa {
	margin-left: 46%;
}

.pacote_ideal p {
	color: #52266f;
	font-size: 16px;
	line-height: 24px;
	margin-left: 17px;
}

.pacote_ideal a {
	color: #52266f;
}

.message-danger {
	margin-left: 40%;
	color: red;
}